<div class="container" id="home-page">
    <h1>Contact List</h1>
    <div id="table"></div>
</div>


<div class="container">
    <div class="quickaddForm" id="add-page">
        <h3>New Contact</h3>
        <div id="name-group">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Your name">
        </div>

        <div id="email-group">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Your email">
        </div>

        <div id="phone-group">
            <label for="phone">Phone</label>
            <input type="text" name="phone" placeholder="Your phone">
        </div>

        <button id="add-submitButton">Submit</button>
    </div>
</div>



<div class="container">
    <div id="detail-page"></div>
</div>

<div class="container">
    <div class="editForm" id="edit-page">
        <h3>Edit Contact</h3>
        <div id="edit-name-group">
            <label for="name">Name</label>
            <input type="text" name="edit-name">
        </div>

        <div id="edit-email-group">
            <label for="email">Email</label>
            <input type="text" name="edit-email">
        </div>

        <div id="edit-phone-group">
            <label for="phone">Phone</label>
            <input type="text" name="edit-phone">
        </div>
    </div>
</div>