<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/home.js"></script>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">

                <a href="/" class="navbar-brand">Contact Management</a>
            </div>
            <div id="bs-nav-demo">
                <ul class="nav navbar-nav">
                    <li>
                        <p class="navbar-btn">
                            <div class="listContact" id="List">
                                <button id="listButton" class="btn btn-default"><i class="fa fa-list-ul" ></i> Index</button>
                            </div>
                        </p>
                    </li>
                    <li>
                        <p class="navbar-btn">
                            <div class="quickadd" id="QuickAdd">
                                <button id="newButton" class="btn btn-default"><i class="fa fa-user-plus"></i> New</button>
                            </div>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



</head>