.quickaddForm {
    height: 440px;
    padding: 10px;
    background: rgb(240, 240, 240);
    overflow: hidden;
    border: 1px solid;
    width: 50%;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* display: none; */
}

.quickaddForm input,
textarea {
    border: 1px solid;
    width: 50%;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.quickaddForm label {
    /* position: relative; */
    /* display: block; */
    width: 100px;
    height: 10px;
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
}

.editForm {
    height: 440px;
    padding: 10px;
    background: rgb(240, 240, 240);
    overflow: hidden;
    border: 1px solid;
    width: 50%;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* display: none; */
}

.editForm input,
textarea {
    border: 1px solid;
    width: 50%;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.editForm label {
    /* position: relative; */
    /* display: block; */
    width: 100px;
    height: 10px;
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
}

#detail-page {
    height: 440px;
    padding: 10px;
    background: rgb(240, 240, 240);
    overflow: hidden;
    border: 1px solid;
    width: 50%;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#home-page {
    height: 440px;
    padding: 10px;
    background: rgb(240, 240, 240);
    overflow: hidden;
    border: 1px solid;
    width: 50%;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#output {
    font-weight: bold;
    /* float: left; */
    padding-right: 11px;
    padding-top: 11px;
}

#table {
    box-shadow: 1px 1px gray;
    border: none;
    padding: 10px;
    text-align: center;
}

tr {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
    text-align: center;
}

tr:nth-child(2n) {
    background: rgba(50, 50, 50, 0.20);
}